.Input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 8px 20px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #cccccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #cccccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}