.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.Auth h4 {
  margin: 20px 0 10px;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
